trigger: none 
pool: Vinod

stages:
- stage: build
  displayName: build
  jobs:
  - job: build
    displayName: scan
    steps:
    - task: NodeTool@0
      displayName: nodejsinstall
      inputs:
        versionSource: 'spec'
        versionSpec: '17.x'
    - task: Npm@1
      displayName: npminstall
      inputs:
        command: 'install'
    - task: Npm@1
      inputs:
        command: 'custom'
        workingDir: '$(System.DefaultWorkingDirectory)'
        customCommand: 'run build'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: build
        ArtifactName: 'drop'
        publishLocation: 'Container'
- stage: deploy
  displayName: deploy
  jobs:
    - job: downloadartifact
      displayName: downloadarti
      steps:
      - task: DownloadBuildArtifacts@1
        inputs:
          buildType: 'current'
          downloadType: 'single'
          artifactName: 'drop'
          downloadPath: '$(System.ArtifactsDirectory)'
          cleanDestinationFolder: true
      - task: CopyFilesOverSSH@0
        inputs:
          sshEndpoint: 'appservice'
          sourceFolder: '$(System.ArtifactsDirectory)'
          contents: '**'
          targetFolder: '/home/azureuser'
          readyTimeout: '20000'
      - task: Bash@3
        inputs:
          targetType: 'inline'
          script: |
            sudo cp -r /home/azureuser/drop/* /var/www/html